@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,800|Shrikhand:400|Lato:400|Mrs+Sheppards:400");

@font-face {
    font-family: "Avenir-Light";
    font-style: normal;
    font-weight: 300;
    src: url("https://anima-uploads.s3.amazonaws.com/5bd9c2a2ee41d2000ab65fa7/Avenir-Light.otf") format("opentype");
}

@font-face {
    font-family: "Avenir-Medium";
    font-style: normal;
    font-weight: 500;
    src: url("https://anima-uploads.s3.amazonaws.com/projects/5ff745bb841e3fbca8cbd060/fonts/avenirltstd-medium.otf") format("opentype");
}

@font-face {
    font-family: "Avenir-Roman";
    font-style: normal;
    font-weight: 400;
    src: url("https://anima-uploads.s3.amazonaws.com/projects/602e9a3512181a228ee6b3a5/fonts/avenir.ttc") format("None");
}

@font-face {
    font-family: "HelveticaNeue";
    font-style: normal;
    font-weight: 1 1000;
    src: url("https://anima-uploads.s3.amazonaws.com/5ad90c8b588afb000b501a89/HelveticaNeue.ttf") format("truetype");
}

@font-face {
    font-family: "Avenir-Heavy";
    font-style: normal;
    font-weight: 400;
    src: url("https://anima-uploads.s3.amazonaws.com/5c4b283968bc67000aeeb21e/Avenir-Heavy-05.ttf") format("truetype");
}

* {
    box-sizing: border-box;
}

.auto-animated .container-center-vertical,
.auto-animated .container-center-horizontal {
    opacity: 1;
}

.auto-animated div {
    opacity: 0;
    position: absolute;
    --z-index: -1;
}

.container-center-horizontal {
    pointer-events: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.container-center-horizontal > * {
    pointer-events: auto;
    flex-shrink: 0;
}

.hidden,
.hidden * {
    visibility: hidden;
    pointer-events: none;
}

.listeners-active,
.listeners-active * {
    pointer-events: auto;
}

.listeners-active-click,
.listeners-active-click * {
    cursor: pointer;
}

.screen * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.screen a {
    text-decoration: none;
    display: contents;
}

.screen div {
    -webkit-text-size-adjust: none;
}

.screen textarea:focus,
.screen input:focus {
    outline: none;
}

.smart-layers-pointers,
.smart-layers-pointers * {
    pointer-events: auto;
    visibility: visible;
}

input:focus {
    outline: none;
}
