/* screen - home */

.home {
  background-color: var(--white);
  height: 2288px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1366px;
}

.home .and-the-best-de-n-your-locality-aNkRZO {
  background-color: transparent;
  color: var(--cork-2);
  font-family: var(--font-family-mrs_sheppards);
  font-size: var(--font-size-xxxxxxxxl);
  font-style: normal;
  font-weight: 400;
  height: 55px;
  left: calc(36.29% - 180px);
  letter-spacing: 0.00px;
  line-height: 130px;
  position: absolute;
  text-align: left;
  top: calc(45.95% - 25px);
  white-space: nowrap;
  width: 497px;
}

.home .bg1-aNkRZO {
  background-color: transparent;
  height: 758px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.home .button-default-primary-aNkRZO {
  background-color: transparent;
  height: calc(100.00% - 711px);
  left: 581px;
  position: absolute;
  top: 430px;
  width: calc(100.00% - 1857px);
}

.home .button-default-primary-dHTTJx {
  background-color: transparent;
  height: calc(100.00% - 711px);
  left: 839px;
  position: absolute;
  top: 430px;
  width: calc(100.00% - 1872px);
}

.home .card-background-2VuuQe {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.home .card-backgroundsimple-1DuiSR {
  background-color: var(--white);
  border-radius: 5px;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.home .cardwith-images-0PsxKo {
  background-color: transparent;
  height: 272px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.5s ease;
  width: 288px;
}

.home .cardwith-images-0PsxKo:hover {
  transform: scale(1.1);
}

.home .component-65-1-pql4zr {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 273px;
}

.home .featured-produc-d-new-right-now-C61RwL {
  background-color: transparent;
  color: var(--woodland);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-xxxxxxxxxl);
  font-weight: 300;
  height: auto;
  left: 446px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 1166px;
  white-space: nowrap;
  width: auto;
}

.home .fruit-pql4zr {
  background-color: transparent;
  height: 150px;
  left: calc(28.41% - 29px);
  object-fit: cover;
  position: absolute;
  top: calc(40.00% - 60px);
  width: 103px;
}
.home .fruits-pql4zr {
  background-color: transparent;
  bottom: calc(19.56% - 6px);
  height: 29px;
  left: calc(29.12% - 19px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 65px;
}
.home .goods-pql4zr {
  background-color: transparent;
  height: 150px;
  object-fit: cover;
  position: absolute;
  right: calc(28.27% - 31px);
  top: calc(40.00% - 60px);
  width: 111px;
}

.home .group-586-C61RwL {
  background-color: transparent;
  height: 300px;
  left: 2px;
  position: absolute;
  top: 760px;
  width: 1363px;
}

.home .group-688-C61RwL {
  background-color: transparent;
  height: 758px;
  left: -366px;
  position: absolute;
  top: 0px;
  width: 2098px;
}

.home .homemade-goods-pql4zr {
  background-color: transparent;
  bottom: calc(19.56% - 6px);
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(26.68% - 51px);
  text-align: left;
  white-space: nowrap;
  width: 190px;
}

.home .image-2VuuQe {
  background-color: transparent;
  height: 182px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: calc(100.00% - 1px);
}

.home .learn-more-SzoBKv {
  background-color: transparent;
  bottom: calc(44.44% - 13px);
  color: #485130;
  font-family: var(--font-family-opensans_condensed-bold);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(49.28% - 51px);
  text-align: left;
  white-space: nowrap;
  width: 103px;
}

.home .meat-fish-and-poultry-pql4zr {
  background-color: transparent;
  bottom: calc(19.56% - 6px);
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(49.78% - 118px);
  text-align: left;
  white-space: nowrap;
  width: 238px;
}

.home .meat-pql4zr {
  background-color: transparent;
  height: 150px;
  object-fit: cover;
  position: absolute;
  right: calc(49.84% - 39px);
  top: calc(40.00% - 60px);
  width: 79px;
}

.home .plant-pql4zr {
  background-color: transparent;
  height: 150px;
  object-fit: cover;
  position: absolute;
  right: 98px;
  top: calc(40.00% - 60px);
  width: 77px;
}

.home .plants-and-flowers-pql4zr {
  background-color: transparent;
  bottom: calc(19.56% - 6px);
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 30px;
  text-align: left;
  white-space: nowrap;
  width: 210px;
}

.home .primary-007-bff-SzoBKv {
  background-color: var(--pampas);
  border: 3px solid #495130;
  border-radius: 5px;
  cursor: pointer;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.home .primary-007-bff-iv1WOz {
  background-color: #454d2e;
  border-radius: 5px;
  cursor: pointer;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.home .rectangle-103-pql4zr {
  background-color: #c0baa6;
  height: 100%;
  left: 0px;
  opacity: 0.6;
  position: absolute;
  top: 0px;
  width: 100%;
}

.home .rectangle-104-K8HISl {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.home .rectangle-104-QNNCZg {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.home .rectangle-104-ZkvR5z {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.home .rectangle-104-tsHkIP {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.home .rectangle-104-uy0KKX {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.home .repeat-grid-2-C61RwL {
  background-color: transparent;
  height: 868px;
  left: 76px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1340px;
  width: 1214px;
}

.home .shop-now-iv1WOz {
  background-color: transparent;
  bottom: calc(44.44% - 13px);
  color: var(--pampas);
  font-family: var(--font-family-opensans_condensed-bold);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(49.28% - 43px);
  text-align: left;
  white-space: nowrap;
  width: 88px;
}

.home .span0-4rm5Es {
  font-style: normal;
  font-weight: 800;
}

.home .span1-4rm5Es {
  font-size: var(--font-size-xxxxl);
  font-style: normal;
}

.home .title-aNkRZO {
  background-color: transparent;
  color: var(--cork-2);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-xxxxxxxxxxxl);
  font-style: normal;
  font-weight: 800;
  height: 228px;
  left: calc(35.69% - 168px);
  letter-spacing: -2.00px;
  line-height: 90px;
  position: absolute;
  text-align: left;
  top: calc(36.04% - 82px);
  white-space: nowrap;
  width: 470px;
}

.home .veg-pql4zr {
  background-color: transparent;
  height: 150px;
  left: 71px;
  object-fit: cover;
  position: absolute;
  top: calc(40.00% - 60px);
  width: 130px;
}

.home .veggies-pql4zr {
  background-color: transparent;
  bottom: calc(19.56% - 6px);
  height: 29px;
  left: 98px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 80px;
}

.home .x0-jHv1io {
  background-color: transparent;
  height: 272px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 288px;
}

.home .x0000kllorem-ipsum-dolor-2VuuQe {
  background-color: transparent;
  bottom: calc(0.98% - 1px);
  height: 68px;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  width: calc(100.00% - 41px);
}

.home .x1-jHv1io {
  background-color: transparent;
  height: 272px;
  left: 308px;
  position: absolute;
  top: 0px;
  width: 288px;
}