/* screen - signup */

.signup {
    background-color: var(--pampas);
    height: 1080px;
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
    width: 1920px;
}

.signup .already-have-an-account-C61RwL {
    background-color: transparent;
    height: auto;
    left: 863px;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: absolute;
    text-align: left;
    top: 985px;
    white-space: nowrap;
    width: auto;
}

.signup .button-default-primary-C61RwL {
    background-color: transparent;
    cursor: pointer;
    height: 52px;
    left: 769px;
    position: absolute;
    top: 726px;
    width: 373px;
}

.signup .enter-your-phon-eate-an-account-C61RwL {
    background-color: transparent;
    height: auto;
    left: 744px;
    letter-spacing: 0.00px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 563px;
    white-space: nowrap;
    width: auto;
}

.signup .form-form-group-helper-default-C61RwL {
    background-color: transparent;
    height: 51px;
    left: 770px;
    position: absolute;
    top: 630px;
    width: 376px;
}

.signup .form-input-text-default-JU7NUS {
    background-color: transparent;
    height: 51px;
    left: 0px;
    position: relative;
    top: calc(50.00% - 26px);
    width: 100%;
}

.signup .group-label-C61RwL {
    background-color: transparent;
    border: 0;
    height: 26px;
    left: 832px;
    letter-spacing: 0.00px;
    line-height: 24px;
    padding: 0;
    position: absolute;
    resize: none;
    text-align: left;
    top: 640px;
    white-space: nowrap;
    width: 284px;
}

.signup .group-label-C61RwL::placeholder {
    color: #a8aaab99;
}

.signup .icon-material-phone-iphone-C61RwL {
    background-color: transparent;
    height: 27px;
    left: 791px;
    object-fit: cover;
    position: absolute;
    top: 643px;
    width: 16px;
}

.signup .input-base-9XhJLT {
    background-color: var(--white);
    border-radius: 5px;
    height: calc(100.00% + 2px);
    left: -1px;
    position: relative;
    top: -1px;
    width: calc(100.00% + 2px);
}

.signup .input-base-eD5LWX {
    background-color: transparent;
    bottom: 0px;
    height: 51px;
    left: 0px;
    position: absolute;
    width: 371px;
}

.signup .mer-C61RwL {
    background-color: transparent;
    height: 230px;
    left: 846px;
    object-fit: cover;
    position: absolute;
    top: 253px;
    width: 225px;
}

.signup .next-mF8WuB {
    background-color: transparent;
    bottom: calc(46.43% - 11px);
    height: 24px;
    letter-spacing: 0.00px;
    line-height: 16px;
    position: absolute;
    right: calc(48.17% - 22px);
    text-align: left;
    white-space: nowrap;
    width: 45px;
}

.signup .primary-007-bff-mF8WuB {
    background-color: var(--bison-hide);
    border-radius: 5px;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.signup .rectangle-2-C61RwL {
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0px 5px 5px #00000029;
    height: 624px;
    left: 615px;
    position: absolute;
    top: 235px;
    width: 704px;
}

.signup .sign-in-C61RwL {
    background-color: transparent;
    cursor: pointer;
    height: auto;
    left: 1003px;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: absolute;
    text-align: left;
    top: 985px;
    white-space: nowrap;
    width: auto;
}

.signup .sign-up-C61RwL {
    background-color: transparent;
    height: auto;
    left: 901px;
    letter-spacing: 0.00px;
    line-height: 30px;
    position: absolute;
    text-align: left;
    top: 499px;
    white-space: nowrap;
    width: auto;
}